* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 100;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");

body {
	margin: 0;
	padding: 0;
	font-family: "Montez", cursive;
	font-size: 1rem;
}

.section1 {
	width: 100vw;
	height: 100vh;
	/* background-color: #1937d7; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 0;
	/* cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png"),
		auto; */
}

.section1 div {
	z-index: 2;
}

.main-content {
	color: white;
	font-size: 2.5rem;
	font-style: normal;
	text-align: center;
	line-height: 5rem;
	letter-spacing: 0.4rem;
	word-spacing: normal;
}

#canvas1 {
	width: 100vw;
	height: 100vh;
}

@media screen and (max-width: 800px) {
	.name-container {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.main-content {
		font-size: 1.3rem;
		line-height: normal;
	}
}

/* -section 2 */
.section2 {
	padding: 40px 25vw;
	font-family: "Actor", sans-serif;
	margin: auto;
	user-select: none;
	text-shadow: #ccc;
}

.section2 p {
	color: #ccc;
}

#part1:hover > p {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
		1px 1px 0 #000;
}

.section2 h1 {
	font-size: 3rem;
	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
		1px 1px 0 white;
}

#test1 {
	background: url("../images/test1.png");
	width: 300px;
	height: 250px;
	position: fixed;
	z-index: -10;
}

#canvas2 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
	/* display: none; */
}

/*** the images will define the height of our planes ***/
.planes img {
	display: block;
	width: 100%;
	/* hide the original image */
	opacity: 0;
}

/*** set the width of our planes ***/

#portrait {
	width: 100%;
	/* position: fixed;
	top: 0;
	left: 0; */
}
