@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.blue {
	color: #1937d7;
	font-weight: 800;
}

.green {
	color: #4dc591;
	font-weight: 800;
}

.margin15-40 {
	margin: 40px 15vw;
}

body {
	font-size: 1rem;
	width: 100vw;
	overflow-x: hidden;
	font-family: "Poppins", sans-serif;
}

header {
	position: sticky;
	top: 0;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
}

.header {
	height: 80px;
	width: 100vw;
	padding: 10px 40px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.header > div {
	display: flex;
	align-items: center;
	font-family: "Montez", cursive;
}

.initials {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: white;
	background-color: #1937d7;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	font-family: sans-serif;
}

.name {
	color: #1937d7;
	margin-left: 30px;
	font-size: 1.7rem;
}

.right-section div {
	font-family: "Poppins", sans-serif;
	margin-right: 30px;
}

/* main */
.section1 {
	margin: 40px 5vw;
}
.text-center {
	text-align: center;
}

.section1 p {
	line-height: 2rem;
	word-spacing: 1px;
	letter-spacing: 0.1rem;
	margin-bottom: 30px;
	margin: 0 10vw;
}

.video-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-row-gap: 50px;
	margin-top: 60px;
}

.item1 {
	grid-column: 1 / 3;
}

/*  ---------- section2 */
.section2 {
	margin-top: 80px;
}
.article-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.one-article {
	width: 30vw;
	max-width: 400px;
	min-width: 310px;
	box-shadow: 0px 4px 4px 0px #c0bdbd40;
	margin-top: 40px;
}
.article-content {
	text-align: left;
	padding: 10px 20px;
}
.article-content > h4 {
	margin-top: 20px;
}
.article-content p {
	color: #718096;
}
.img-container {
	width: 100%;
	overflow: hidden;
}
.img-container img {
	width: 100%;
}
.date {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}

.date a[target="_blank"]::after {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
	margin: 0 3px 0 5px;
}

/* ---------- section 3 ------------ */
.section3 {
	margin-top: 80px;
}
.event-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.event-img-container {
	width: 30vw;
	max-width: 400px;
	min-width: 300px;
	margin-top: 40px;
}

.event-img-container img {
	width: 100%;
}
/* ------- section4 ------- */
.section4 {
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
}

.section4-img-container {
	/* width: 30vw; */
}

.section4-img-container img {
	width: 400px;
}
.book-info {
	display: flex;
	align-items: center;
	padding: 20px 40px;
	text-align: left;
}

@media screen and (max-width: 800px) {
	/* header */
	.name {
		display: none;
	}
	.header {
		padding: 0;
	}
	.left-section {
		margin-left: 15px;
	}
	.right-section div {
		margin-right: 15px;
	}

	.section1 p {
		margin: 0;
	}

	.video-container {
		display: flex;
		flex-direction: column;
	}

	.video-container video {
		width: 100%;
	}

	.margin15-40 {
		margin: 40px 40px;
	}
	.article-container {
		flex-direction: column;
		align-items: center;
	}
	.one-article {
		width: 50vw;
		max-width: 400px;
		min-width: 310px;
	}
	.section4 {
		flex-direction: column;
	}
	.section4-img-container img {
		width: 250px;
	}
	.book-info {
		padding: 20px 0;
	}
}
