@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.green {
	color: #4dc591;
	font-weight: 800;
}

body {
	font-size: 1rem;
	width: 100vw;
	overflow-x: hidden;
	font-family: "Poppins", sans-serif;
}

.blue {
	color: #1937d7;
	font-weight: 800;
}

header {
	position: sticky;
	top: 0;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
}

.header {
	height: 80px;
	width: 100vw;
	padding: 10px 40px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}
.progress-container {
	width: 100%;
	height: 2px;
	background: #ccc;
}

.progress-bar {
	height: 2px;
	background: #1937d7;
	width: 0%;
}

.header > div {
	display: flex;
	align-items: center;
	font-family: "Montez", cursive;
}

.initials {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: white;
	background-color: #1937d7;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	font-family: sans-serif;
}

.name {
	color: #1937d7;
	margin-left: 30px;
	font-size: 1.7rem;
}

.right-section div {
	font-family: "Poppins", sans-serif;
	margin-right: 30px;
}

/* main -image */
.main-image {
	width: 100vw;
}

.main-image img {
	width: 100%;
}

/* ----------- navigator---------- */
#navigator {
	position: sticky;
	top: 140px;
	box-shadow: 0px 14px 32px 0px #0000001a;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 12vw;
	height: 250px;
	margin-top: 40px;
	background-color: white;
}

#navigator a {
	text-decoration: none;
	color: #000000;
	margin-bottom: 10px;
}

/* main content */
.section1 {
	margin: 40px 15vw;
	margin-right: 15vw;
	margin-top: -250px;
}
.section1 h1 {
	font-size: 2rem;
}

h2 {
	color: #959595;
	margin: 6px 0;
}

.lists {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.lists div {
	max-width: 20.33%;
}

.lists ul {
	margin-left: 20px;
	color: #000000;
	font-size: 0.8rem;
	margin-top: 10px;
}

.process-image {
	width: 100%;
}

.process-image img {
	width: 100%;
}

/* - ------------- section 2 ----------- */
.section2 {
	width: 100vw;
}

.section2 img {
	width: 100%;
}
/* --------------- section 3 ------------ */
.section3 {
	margin: 40px 15vw;
}

.section3 p {
	font-size: 0.9rem;
}

.section3 ul {
	margin: 30px 20px;
	font-size: 0.9rem;
}

.section3 li {
	margin-top: 8px;
}

.research-container {
	display: flex;
	margin-top: 30px;
}

.one-research {
	width: 100%;
	text-align: center;
	padding: 10px 30px;
}

.one-research p {
	font-size: 0.8rem;
	margin-top: 15px;
}

.one-research img {
	width: 70%;
	height: 150px;
}

.extra-research {
	display: flex;
	justify-content: center;
}

.extra-one-research {
	width: 70%;
	text-align: center;
	padding: 10px 30px;
}

.extra-one-research img {
	width: 100%;
}

.extra-one-research p {
	font-size: 0.8rem;
	margin-top: -20px;
}

/* --------- section 5 ------------ */
.section5 {
	margin: 40px 15vw;
}

.section5 p {
	font-size: 0.9rem;
}

.section5 h4 {
	margin: 20px 0;
}

.section5 ul {
	margin-left: 20px;
	font-size: 0.9rem;
}

.mentor-persona {
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.mentor-persona img {
	width: 85%;
}

/* ----------- section 7 ----------------- */
.section7 {
	margin: 40px 15vw;
}

.section7 p {
	font-size: 0.9rem;
}

.wireframes {
	display: flex;
	width: 120%;
	margin-top: 30px;
	margin-left: -10%;
}

.one-wireframe {
	width: 100%;
}

.one-wireframe img {
	width: 100%;
}

/* --------------- section 9 ------------- */
.section9 {
	margin: 40px 15vw;
}

.section9 p {
	font-size: 0.9rem;
}

.colors-container {
	display: flex;
	margin-top: 50px;
	padding: 0 5vw;
}

.colors-container > div {
	width: 100%;
}

.section9-left-section {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 60px 30px;
}

.one-color {
	box-shadow: 0px 9.146130561828613px 15.243552207946777px 0px #0000001a;
	width: 140px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.section9-right-section {
	padding: 0px 70px;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.section9-right-section h2 {
	color: #1937d7;
}

/* -------------- section 10 ------------ */
.section10 {
	margin: 40px 15vw;
}

.section10 p {
	font-size: 0.9rem;
}

.section10 h4 {
	margin-bottom: 20px;
	margin-top: 100px;
}

.one-video {
	display: flex;
	margin-top: 60px;
}

.video-info {
	flex-grow: 3;
	display: flex;
	align-items: center;
	/* flex-direction: ; */
}

.video-info li {
	margin-top: 30px;
	font-size: 0.9rem;
}

.padd-left {
	padding-left: 10vw;
}

.padd-right {
	padding-right: 10vw;
}

/* --------- section 12 ------------- */
.section12 {
	margin: 40px 15vw;
}

.section12 p {
	font-size: 0.9rem;
}

.section12 ul {
	font-size: 0.9rem;
	margin-left: 20px;
	margin-top: 30px;
}

.section12 li {
	margin-top: 10px;
}

/*  -------------- footer ------------ */
/* ------------ footer -------------- */
footer {
	background-color: #f3f3f3;
	padding: 30px 15vw;
	text-align: center;
}
/* 
.outer {
	width: 900px;
	margin: auto;
}

.bg {
	text-align: center;
	width: 0%;
	transition: all 0.6s ease-out;
	background: #3ebac6;
	background: -moz-linear-gradient(
		left,
		#3ebac6 0%,
		#8b539e 50%,
		#e53782 100%
	);
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0%, #3ebac6),
		color-stop(50%, #8b539e),
		color-stop(100%, #e53782)
	);
	background: -webkit-linear-gradient(
		left,
		#3ebac6 0%,
		#8b539e 50%,
		#e53782 100%
	);
	background: -o-linear-gradient(left, #3ebac6 0%, #8b539e 50%, #e53782 100%);
	background: -ms-linear-gradient(
		left,
		#3ebac6 0%,
		#8b539e 50%,
		#e53782 100%
	);
	background: linear-gradient(
		to right,
		#3ebac6 0%,
		#8b539e 50%,
		#e53782 100%
	);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3ebac6', endColorstr='#e53782', GradientType=1);
}

.inner {
	display: inline-block;
	background-color: #f3f3f3;
	padding: 5px;
	width: 900px;
}

.inner h2 {
	color: black;
}

.outer:hover .bg {
	width: 100%;
}

.outer:hover .inner {
	background-color: white;
	mix-blend-mode: screen;
} */

.social {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

footer ul {
	display: flex;
}

footer ul li {
	list-style: none;
}

footer ul li a {
	width: 60px;
	height: 60px;
	background-color: #fff;
	text-align: center;
	line-height: 80px;
	font-size: 35px;
	margin: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	border: 3px solid #fff;
	z-index: 1;
	text-decoration: none;
}

footer ul li a .icon {
	position: relative;
	color: #262626;
	transition: 0.5s;
	z-index: 3;
	font-size: 20px;
}

footer ul li a:hover .icon {
	color: #fff;
	transform: rotateY(360deg);
}

footer ul li a:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f00;
	transition: 0.5s;
	z-index: 2;
}

footer ul li a:hover:before {
	top: 0;
}

footer ul li:nth-child(1) a:before {
	background: #55acee;
}

footer ul li:nth-child(2) a:before {
	background: #0077b5;
}

footer ul li:nth-child(3) a:before {
	background: #dd4b39;
}

.mail {
	flex: 1;
	text-align: center;
}

.blue1:hover {
	background-color: #1937d7;
	transition: 0.2s;
}

/* ------------- mobile view -------------- */

@media screen and (max-width: 800px) {
	.lists {
		flex-direction: column;
	}
	.lists div {
		max-width: 100%;
		margin-bottom: 20px;
	}
	#navigator {
		display: none;
	}
	.section1 {
		margin: 40px 40px;
	}
	.section3 {
		margin: 40px 40px;
	}
	.section5 {
		margin: 40px 40px;
	}
	.section7 {
		margin: 40px 40px;
	}
	.section9 {
		margin: 40px 40px;
	}
	.section10 {
		margin: 40px 40px;
	}
	.section12 {
		margin: 40px 40px;
	}
	.research-container {
		flex-direction: column;
	}
	.one-research img {
		width: 100%;
	}
	.extra-one-research {
		width: 100%;
		padding: 0;
	}

	.colors-container {
		padding: 0;
		flex-direction: column;
	}
	.one-color {
		width: 100px;
		height: 50px;
	}
	.section9-left-section {
		grid-template-columns: auto auto;
	}
	.section9-right-section {
		margin-top: 30px;
		height: 160px;
		padding: 0;
	}
	.one-video {
		flex-direction: column;
	}
	.one-video ul {
		margin: 0;
	}
	.flex-rev {
		flex-direction: column-reverse;
	}
	.padd-left {
		padding-left: 40px;
	}
	.padd-right {
		padding-right: 40px;
	}
	.name {
		display: none;
	}
	.header {
		padding: 0;
		padding-left: 15px;
	}
	.right-section div {
		margin-right: 15px;
	}

	/* footer */
	footer {
		padding: 30px;
	}
	.social {
		flex-direction: column;
	}
	.mail {
		margin-top: 30px;
	}
}
